$white: #fff;
$black: #000;
$gray-100: #9ca3af;
$gray-200: #708090;
$gray-300: #6b7280;
$blue-300: #60a5fa;
$blue-500: #3b82f6;
$blue-800: #2c384a;
$blue-900: #1e293b;
$red-500: #dc2626;
$red-700: #dc26268e;

$primary: $blue-300;
$primary-active: $blue-500;
$border: $gray-200;
$border-active: $blue-500;
$background: $blue-900;
$background-active: $blue-800;
$ghost: $gray-100;
$ghost-active: $gray-200;
$danger: $red-500;
$danger-active: $red-700;
