.footer-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  backdrop-filter: blur(10px);
  border-top: 1px solid $border;
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 16px;
    font-size: 15px;
  }
}
